# -------- LangChain Core --------
langchain
langchain-core
langchain-community

# -------- Vector DB --------
chromadb
faiss-cpu

# -------- Embeddings --------
sentence-transformers

# -------- PDF/Text Processing --------
pypdf
pymupdf

# -------- Environment Variables --------
python-dotenv

# -------- LLM (Gemini) 
google-generativeai

# -------- API & Server --------
fastapi
uvicorn

# -------- Search (Optional) --------
typesense

# -------- Graph / RAG Pipelines --------
langgraph
